{{!-- About Section --}}
    <h1 class="main-title">About</h1>
    <hr class="hr">

    <div class="cards">
        <div class="card">
            <img src="/assets/about-card.png" alt="">
         </div>

        <div class="card">
            <img src="/assets/about-card.png" alt="">
        </div>
    </div>
