{{!-- Home Section --}}
    <h1 class="main-title">Home</h1>
    <hr class="hr">

    <div class="cards">
        <div class="card">
            <img src="/assets/home-card.png" alt="">
        </div>

        <div class="card">
            <img src="/assets/home-card.png" alt="">
        </div>
    </div>
