{{!-- Mamejadores de errores desde Bootstap --}}

<div class="alert-container">
    {{#if error}}
    {{!-- <div class="alert alert-danger">
          <strong>{{error}}</strong>
        <button type="button" class="btn-close">
            <span>&times;</span>
        </button>

      </div> --}}
   {{/if}}
</div>


{{!-- {{#each errors}}
    <div class="alert alert-danger alert-dismissible fade show errors-alert mx-auto " role="alert">
        {{text}}
      <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close">
        <span aria-hidden="true">&times;</span>
      </button>
 
    </div>
{{/each}} --}}
