{{!-- Footer Section --}}
<section class="footer-section">
  <div class="f-content">
      <a href="">Security</a>
      <a href="">News</a>
      <a href="">Futures</a>
  </div>
  <div class="author">
      <p><small>Made by Elier Mercedes</small></p>
  </div>
</section>