
{{#if success_msg }}

    {{!-- <div class="alert success-msg" id="success-msg">
        <strong> {{success_msg}}</strong> 
        <button type="button" class="btn-close">
            <span>&times;</span>
        </button>
    </div> --}}
    
{{/if}}


{{#if error}}
   {{!-- <div class="alert alert-danger alert-dismissible fade show errors-alert" role="alert">
        {{error}}
      <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close">
          <span aria-hidden="true">&times;</span>
      </button>
    </div> --}}

     {{!-- <div class="alert">
        {{error}}
      <button type="button" class="btn-close">
          <span>&times;</span>
      </button>
    </div> --}}

{{/if}}